
<form id="formsearch" action="">
  <input type="text" id="txtSearch" tabindex="1" />
  <button type="submit">Buscar</button>
</form>

<div id="result">

  <div id="produtos">
    <ul>
      
    </ul>
  </div>

  <div id="detalhes">
  </div>

  <div id="paginacao">
  </div>

  <div class="clear"></div>
  
</div>
