#container{
  width: 90%;
}
.clear{
  clear: both;
}
#vogon_logo{
}
#result{
  position: relative;
}
#user_nav{
  float: right;
}

/************/
/* produtos */
/************/
#produtos{
  float: left;
  width: 70%;
}
#produtos ul{
  list-style-type: none;
}
#produtos li{
  padding-bottom: 32px;
}
#produtos .field{
  display: inline;
}
.detalhado{
  background: #fff url('/images/left.gif') no-repeat right center;
}
.imagem{
  float: left;
  padding-right: 5px;
}
/************/
/* detalhes */
/************/
#detalhes{
  width: 25%;
  background-color: #EEE;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}
#detalhes ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#detalhes{
  padding-left: 4px;
}

/**********/
/* alerta */
/**********/
form.alerta .meio{
  float: right;
}
.alertasalvo{
  padding: 12px;
  border: 1px solid red;
  margin: 10px;
}
.error{
  border: 1px solid red;
}
.errormessage{
  color: red;
  font-style: italic;
}
.inserirformalerta{
  color: #fff;
  background-color: red;
  padding: 4px 8px;
}
.rounded{
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}
/******************/
/* authorizations */
/******************/
.facebook_login{
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 0 !important;    
  width: 89px;
  height: 21px;
  background: url("/images/login-all.png") repeat scroll 0 0 transparent;
  background-position: -89px 50%;
}
.twitter_login{
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 0 !important;    
  width: 89px;
  height: 21px;
  background: url("/images/login-all.png") repeat scroll 0 0 transparent;
  background-position: -178px 50%;
}
